<div class="col-sm-8 text-left">
  <h3>Change Password</h3>
  <hr>

  <!-- Change User Password Panel -->
  <div class="panel panel-primary" ng-init='getOfficers()'>
    <div class="panel-heading"><br></div>
    <div class="panel-body">
      <div>
        <form ng-submit='changePassword()'>
          <div>
            <label>Current Password</label>
            <br>
            <input ng-model='curr_pass' type='password' name='username' class='fields' required>
            <br>
            <br>
            <label>New Password</label>
            <br>
            <!-- TO DO: Validate password pattern in controller as well -->
            <input ng-model='new_pass' type='password' name='password' class='fields' pattern='^[a-zA-Z0-9]{8,}$' title='Must contain at least 8 or more characters. Only alphanumeric characters allowed.' required>
            <br>
            <br>
            <label>Re-Enter New Password</label>
            <br>
            <input ng-model='conf_new_pass' type='password' name='password' class='fields' required>
            <br>
            <br>
            <!-- TO DO: Clear form fields on submit (all forms in app) and reload edit users partial -->
            <button type="submit" class="btn btn-success"'>Change Password</button>
            <br>
            <br>
            <div class='alert alert-danger' ng-show='errorMessage'>
              {{message}}
            </div>
            <div class='alert alert-success' ng-show='successMessage'>
              {{message}}
            </div>
          </form>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>


