<div class='col-sm-9 text-left'> 
	<h3>Reset Password</h3>
	<hr>
	<!-- Reset Password Panel -->
	<!-- populate the reset password table on page load -->
	<div class='panel panel-primary' ng-init='getOfficers()'>
		<div class='panel-heading'>
	    <!-- only show the following message when a user is not selected -->
			<p class='alert alert-info' ng-show='!selected.id' style='margin-bottom: 0'>Please select a user to begin.</p>

			<!-- success/error message for reset password function -->
			<p class='alert alert-success' ng-show='successMessage' style='margin-bottom: 0'>{{message}}</p>
	        <p class='alert alert-danger' ng-show='errorMessage' style='margin-bottom: 0'>{{message}}</p>

	        <!-- TO DO: Add spacing to panel heading when no message is showing -->
	        <br ng-show='selected.id && !successMessage && !errorMessage'>
		</div>
		<div class='panel-body' style='height:350px; overflow-y:scroll'>
			<div>
				<table class='table table-hover table-bordered' style='margin:auto; width:100%'> 
					<form class='form-inline'>
						<div class='form-group'>
							<label>Search</label>
							<input type='text' ng-model='search' class='form-control' placeholder='Search'>
						</div>
					</form>       
					<thead>
						<tr>
							<th class='text-center'>Select</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Username</th>
							<th>Role</th>
							<th>Reset Password</th>
						</tr>
					</thead>
					<tbody>

						<!-- ng-class='{ 'success': selected.id }' -->

						<tr ng-repeat='officer in officers|filter:search' ng-class='{info: $index === pick}'>
							<!-- <td class='text-center'><input type='radio' name='selected' ng-click='edit.officer = o' required></td> -->
							<td class='text-center'><input type='radio' name='selection' ng-model='selected.id' value='{{officer.id}}' ng-required='!selected.id' ng-click='select($index)'></td>
							<td>{{officer.firstName}}</td>
							<td>{{officer.lastName}}</td>
							<td>{{officer.username}}</td>
							<td>{{officer.role}}</td> 
							
							<td>
							    <!-- TO DO: disable fields for row not selected -->
								<form ng-submit='resetPassword(reset_pass, reset_pass_conf)'>
									<input ng-disabled='!selected.id' ng-model='reset_pass' type='password' class='fields' pattern='^[a-zA-Z0-9]{8,}$' title='Must contain at least 8 or more characters. Only alphanumeric characters allowed.' autofocus placeholder='New password' ng-required='selected.id'>

									<input ng-disabled='!selected.id' ng-model='reset_pass_conf' type='password' class='fields' pattern='^[a-zA-Z0-9]{8,}$' title='Must contain at least 8 or more characters. Only alphanumeric characters allowed.' placeholder='Confirmation' autofocus ng-required='selected.id'>

									<button ng-disabled='!selected.id' type='submit' class='btn btn-link'>Reset</button>
								</form>								
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>