<div class='col-sm-8 text-left'> 
	<h3>User Management</h3>
	<hr>

	<!-- Add User Panel -->
	<div class='panel panel-primary'>
		<div class='panel-heading'>Add User</div>
		<div class='panel-body'>
			<div>
				<form ng-submit='addUser()'>
					<label>First Name</label>
					<br>
					<input type='text' ng-model='fName' required>
					<br>
					<br>
					<label>Last Name</label>
					<br>
					<input type='text' ng-model='lName' required>
					<br>
					<br>
					<label>Username</label>
					<br>
					<input type='text' ng-model='username' required>
					<br>
					<br>
					<label>Password</label>
					<br>
					<!-- TO DO: Validate password pattern in controller as well -->
					<input type='password' ng-model='password' pattern='^[a-zA-Z0-9]{8,}$' title='Must contain at least 8 or more characters. Only alphanumeric characters allowed.' required>
					<br>
					<br>
					<label>Role</label><br>
					<select ng-model='role'>
						<option value='Officer'>Officer</option>
						<option value='Supervisor'>Supervisor</option>
						<option value='Administrator'>Administrator</option>
					</select>
					<br>
					<br>
					<button type='submit' class='btn btn-success'>Add User</button>
					<br>
					<br>
					<div class='alert alert-danger' ng-show='errorMessage'>
						{{message}}
					</div>
					<div class='alert alert-success' ng-show='successMessage'>
						{{message}}
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Edit User Panel -->
	<div class='panel panel-primary' ng-init='getOfficers()'>
		<div class='panel-heading'>Edit User</div>
		<div class='panel-body'>
			<div>
				<table class='table table-hover table-bordered' style='margin:auto; width:100%'>        
					<thead>
						<tr>
							<th></th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Username</th>
							<th>Role</th>
							<th class='text-center'>Edit</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='o in officers'>
							<td class='text-center'>{{$index + 1}}</td>
							<td>{{o.firstName}}</td>
							<td>{{o.lastName}}</td>
							<td>{{o.username}}</td>
							<td>{{o.role}}</td>
							<td class='text-center'><button class='btn btn-link'>Edit</button></td>
							<!-- <td class='text-center'><span class="glyphicon glyphicon-edit"></span></td> -->
							<!-- <td class='text-center'><span class="glyphicon glyphicon-remove"></span></td> -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>