   body {

   }
   /* Default link styling */
   a:link { color:#0271fb; }
   a:visited { color:#bd02fb; }
   a:hover, a:focus { color:#000; }
   a:active { color:#fb0e02; }


/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/

   img {
    display: block;
    margin: 0 auto;
  }

  .panel-heading
   {
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .panel-footer 
  {
      background-color: #f9f9f9;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
  }
  
   header{
      background-color: #222222;
      color: white;
    }

/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
   @media print {
    * {
      color:#000 !important;
      box-shadow:none !important;
      text-shadow:none !important;
      background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
      font-weight:bold;
      text-decoration:underline;
      color:#06c;
      border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */ 
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
    
    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure { 
      margin-bottom:1em; 
      overflow:hidden;
    }

    figure img { border:1px solid #000; }
  }